<!DOCTYPE html>
<html>

<head>
    <head>
        <title>{% block page_name %}{{ page_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>My Company</strong>
          </a>
        </div>
      
        <div class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/contact">Contact</a>
          </div>
        </div>
      </nav>
  
    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
</body>

</html>